.principal-title {
    position: relative;
    font-size: 2rem;
    bottom: 20px;
}

.name-logo {
    height: 4rem;
    width: 100%;
}

.logo-img {
    height: 3.5rem;
    width: 3.5rem;
}

.header-title {
    font-size: 3rem;
    background: linear-gradient(263deg, #38b6ff, #0088d7, #1b5a7f, #2ba197);
    /*font-family: "DM Sans", sans-serif;*/
    font-weight: 780;
    letter-spacing: 1px;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    -webkit-animation: textGradientAnimation 32s ease infinite;
    -moz-animation: textGradientAnimation 32s ease infinite;
    animation: textGradientAnimation 32s ease infinite;
}

.highlighted-text {
    font-size: 2rem;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    color: black; /* Color del texto */
    background: linear-gradient(transparent 40%, yellow 40%, yellow 60%, transparent 60%);
    padding: 0 5px; /* Espacio adicional para que el fondo no esté pegado al texto */
}

@-webkit-keyframes textGradientAnimation {
    0% { background-position: 0% 54%; }
    50% { background-position: 100% 47%; }
    100% { background-position: 0% 54%; }
}

@-moz-keyframes textGradientAnimation {
    0% { background-position: 0% 54%; }
    50% { background-position: 100% 47%; }
    100% { background-position: 0% 54%; }
}

@keyframes textGradientAnimation {
    0% { background-position: 0% 54%; }
    50% { background-position: 100% 47%; }
    100% { background-position: 0% 54%; }
}